---
import SectionTopContainer from "../../components/SectionTopContainer.astro"
import Layout from "../../layouts/Layout.astro"
---
<Layout title="Sulpayki - Todo lo que tenes que saber sobre la gencia de Viajes y Turismo "> 
    <SectionTopContainer>
        <article class="mx-auto prose md:prose-lg">
            <h2>
                ¿Quiénes Somos?
            </h2>
           
        
            <p>
                En <strong>SULPAYKI VIAJES Y TURISMO</strong> somos una agencia de turismo situada en La Rioja Capital, Argentina dedicada a ofrecer 
                <strong>servicios turísticos</strong> con un enfoque personalizado y profesional. 
                Nuestro propósito es brindar experiencias únicas a través de la intermediación, planificación y organización 
                de viajes adaptados a los gustos y necesidades de nuestros clientes.
            </p>
            <p>
                Estamos especializados en el <strong>Turismo Industrial</strong>, una innovadora modalidad turística que permite 
                conocer procesos productivos, fábricas, y patrimonios industriales en diversas regiones de la provincia. Además, 
                ofrecemos <strong>paquetes turísticos completos</strong> que incluyen transporte, comida y actividades 
                recreativas, culturales y naturales.
            </p>
            <p>
                Nuestro equipo se compromete a brindar <strong>asesoramiento profesional</strong> y un servicio confiable, 
                ya sea a través de paquetes prediseñados o itinerarios personalizados. En Sulpayki, transformamos cada viaje en 
                una experiencia inolvidable.
            </p>

            <h2>
                ¿Dónde encontrarnos?
            </h2>
                
            <p>
                Podés encontrarnos en Av. San Nicolás de Bari 499-599, F5300 La Rioja Capital, Argentina. Se encuentra en plaza 25 de Mayo.
            </p>

            <p>
                También operamos de forma digital. Contactandonos a través de nuestros canales online podés recibir atención personalizada y planificar tu próxima
                aventura con nosotros.
            </p>

            <h2>
                Razón Social
            </h2>
                
            <pg>FERREYRA, MÓNICA PATRICIA (UNIPERSONAL)</strong><br />
                Nº de Licencia Provisoria: DI-2023-704-APN-DNAV#MTYD
            </p>

        </article>
    </SectionTopContainer>
</Layout>
