@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme{
  --color-primary: #6BC340;   /* Verde cactus */
  --color-primary-dark: #599F30;
  --color-secondary: #3A3A3A;/* Naranja atardecer */
  --color-secondary-dark:	#C46E0D; 
  --color-tertiary: #FCD21D;  /* Amarillo sol */
  --color-accent: #7A4A00;    /* Marrón texto sombra */
  --color-text: #3A3A3A;      /* Gris oscuro para textos */
  --color-neutral:	#3A3A3A;
  --color-neutral-light: #F5F5F5;
  
}


.hover-verde:hover {
  color: white;
  background: linear-gradient(to bottom, #63B451, #6EE650);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.hover-verde:active {
  background: linear-gradient(to bottom, #63B451, #6EE650);
}

.bg-verde {
  color: white;
  background: linear-gradient(to bottom, #63B451, #6EE650);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
  