---
import LinksColumns from "./LinksColumns.astro"
import FollowUs from "./FollowUs.astro"
import Copyright from "./Copyright.astro"
---

<footer class="bg-gray-400 py-6 lg:py-10 mt-20"> 
    <section class="mx-auto max-w-7xl px-4 w-full">
        <LinksColumns />
        <FollowUs />
        <Copyright />
      </section>
</footer>