---
//import Button from "./ui/Button.astro"
---

<header
  id="header"
  class="py-4 px-4 sm:px-8 flex justify-between items-center max-w-full sm:max-w-7xl mx-auto top-0 z-50 mb-4 backdrop-blur-xl"
>
  <!-- Logo -->
  <a href="#" class="flex-shrink-0">
    <svg class="icon fill-neutral h-16 sm:h-32 max-w-[140px] sm:max-w-none w-auto object-contain">
      <use xlink:href="/logo.svg#Sulpayki-logo"></use>
    </svg>
  </a>

  <!-- Botón -->
  <a
    href="#"
    class="text-sm sm:text-base bg-green-500 hover:bg-green-600 text-white font-semibold rounded-full px-4 py-2 transition whitespace-nowrap"
  >
    Crea tu cuenta
  </a>
</header>